{{ 'footer.css' | asset_url | stylesheet_tag }}

<div class="footer--container" id="{{ section.settings.title }}">
  <h1>{{ section.settings.title }}</h1>
  <div class="column">
    <div class="mail">Email us here:<br/> <a href="mailto:{{ section.settings.mail }}">{{ section.settings.mail }}</a></div>
    <form class="contact--form">
      <div class="title">Stay in the loop by getting on our mailing list</div>
      <input name="name" type="text" placeholder="NAME*">
      <input name="email" type="email" placeholder="E-MAIL*">
      <input name="company" type="text" placeholder="COMPANY*">
      <button class="home--button footer--button">SEND {% render 'fork' %}</button>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "mail",
      "label": "Email"
    }
  ],
  "blocks": [
  ]
}
{% endschema %}
