{{ 'header.css' | asset_url | stylesheet_tag }}


<div class="header--container">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'logo' %}
        {{ block.settings.logo | image_url: width: 145 | image_tag }}
    {% endcase %}
  {% endfor %}
  <nav class="navbar">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'navbar' %}
          <div class="nav--element {{ block.settings.navEl }}">{{ block.settings.navEl }}</div>
      {% endcase %}
    {% endfor %}
  </nav>
  <img src="{{ 'burger.svg' | asset_url }}" alt="Burger" class="burgerIcon" onclick="Toggle()">
  <nav class="navbarAdaptive">
    <div class="navbarAdaptive--header">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'logo' %}
            <img src="{{ block.settings.logo | image_url: width: 145 }}" alt="Company" class="logoAdaptive">
        {% endcase %}
      {% endfor %}
      <img src="{{ 'cross.svg' | asset_url }}" alt="Cross" class="crossIcon" onclick="Toggle()">
    </div>
    <div class="nav--elements--adaptive">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'navbar' %}
            <div class="nav--element {{ block.settings.navEl }}">{{ block.settings.navEl }}</div>
        {% endcase %}
      {% endfor %}
    </div>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'button' %}
          <button class="home--button {{ block.settings.scroll }} scroll--btn header--button">
            {{ block.settings.text }}
            {{ block.settings.icon | image_url: width: 20 | image_tag }}
          </button>
      {% endcase %}
    {% endfor %}
  </nav>
</div>

<script>
  function Toggle(){
    document.querySelector('.navbarAdaptive').classList.toggle('active');
  }
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "blocks": [
    {
      "name": "Navbar element",
      "type": "navbar",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "navEl",
          "label": "Navbar element"
        }
      ]
    },
    {
      "name": "Logo image",
      "type": "logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button text"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Button icon"
        },
        {
          "type": "text",
          "id": "scroll",
          "label": "Scroll to"
        }
      ]
    }
  ]
}
{% endschema %}
