{{ 'home.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
    {% case block.type %}
        {% when 'image' %}
            <div class="home--container" style="background: linear-gradient(to top, rgba(0,0,0, .8), transparent), url({{ block.settings.image | image_url: width: 1640}}) 50% 50%/cover no-repeat">
                <div class="home--bottom">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'title' %}
                        <h1>{{ block.settings.title }}</h1>
                    {% endcase %}
                  {% endfor %}
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'support' %}
                        <h2>{{ block.settings.support }}</h2>
                    {% endcase %}
                  {% endfor %}
                  <button class="home--button">
                    {% for block in section.blocks %}
                      {% case block.type %}
                        {% when 'button' %}
                          {{ block.settings.text }}
                          {{ block.settings.icon | image_url: width: 20 | image_tag }}
                      {% endcase %}
                    {% endfor %}
                  </button>
                </div>
            </div>
    {% endcase %}
{% endfor %}


{% schema %}
{
  "name": "Home",
  "tag": "section",
  "blocks":[
    {
      "name": "Title",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title section"
        }
      ]
    },
    {
      "name": "Support text",
      "type": "support",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "support",
          "label": "Support text"
        }
      ]
    },
    {
      "name": "Background image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button text"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Button icon"
        }
      ]
    }
  ]
}
{% endschema %}
