{{ 'news.css' | asset_url | stylesheet_tag }}

<div class="news--container" id="{{ section.settings.title }}">
  <h1>{{ section.settings.title }}</h1>
  <div class="news--blocks--container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'news' %}
          <div class="news--element--container">
            <div class="news--image" style="background: url({{ block.settings.image | image_url: width: 1000}}) 50% 50%/cover no-repeat"></div>
            <img src="{{ block.settings.image | image_url: height: 32}}" alt="Icon">
            <div class="news--title">{{ block.settings.title }}</div>
            <div class="news--footer">
              <div class="date">{{ block.settings.date }}</div>
              <img src="{{ 'ArrowYellow.svg' | asset_url }}" alt="Arrow">
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  <svg class="section--menu" width="107" height="209" viewBox="0 0 107 209" fill="none" xmlns="http://www.w3.org/2000/svg">
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="10.9668">01</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 8)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="88.9668">03</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 86)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="127.967">04</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 125)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="204.967">06</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 202)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="49.9668">02</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 47)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="0.0644531" y="166.967">05 {{ section.settings.title }}</tspan></text>
    <rect width="1" height="60" transform="matrix(0 -1 -1 0 107 163.5)" fill="#0B0D21"/>
  </svg>
</div>

{% schema %}
{
  "name": "News",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "News"
    }
  ],
  "blocks":[
    {
     "type": "news",
      "name": "News",
      "limit": 6,
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date"
        }
      ]
    }
  ]
}
{% endschema %}
