{{ 'news.css' | asset_url | stylesheet_tag }}

<div class="news--container" id="{{ section.settings.title }}">
  <h1>{{ section.settings.title }}</h1>
  <img src="{{ 'sliderArrow.svg' | asset_url }}" onclick="slideLeft()" class="arrow arrowLeft" alt="Left Arrow">
  <div class="news--blocks--container">
    <div class="news--slider--container">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'news' %}
            <div class="news--element--container">
              <div class="news--image" style="background: url({{ block.settings.image | image_url: width: 1000}}) 50% 50%/cover no-repeat"></div>
              <div class="news--content">
                <img src="{{ block.settings.icon | image_url: height: 32}}" alt="Icon">
                <div class="news--title">{{ block.settings.title }}</div>
                <div class="news--footer">
                  <div class="news--date">{{ block.settings.date }}</div>
                  <img src="{{ 'ArrowYellow.svg' | asset_url }}" alt="Arrow">
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  <div class="pagination--container">
  </div>
  <img src="{{ 'sliderArrow.svg' | asset_url }}" onclick="slideRight()" class="arrow arrowRight" alt="Left Arrow">
  <svg class="section--menu" width="107" height="209" viewBox="0 0 107 209" fill="none" xmlns="http://www.w3.org/2000/svg">
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="10.9668">01</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 8)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="88.9668">03</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 86)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="127.967">04</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 125)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="204.967">06</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 202)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="67.8672" y="49.9668">02</tspan></text>
    <rect width="1" height="20" transform="matrix(0 -1 -1 0 107 47)" fill="#0B0D21"/>
    <text fill="#0B0D21" xml:space="preserve" style="white-space: pre" font-family="Arial" font-size="10" letter-spacing="0px"><tspan x="0.0644531" y="166.967">05 {{ section.settings.title }}</tspan></text>
    <rect width="1" height="60" transform="matrix(0 -1 -1 0 107 163.5)" fill="#0B0D21"/>
  </svg>
</div>

<script>
  let pos = 1;
  let flag = true;
  let sliderContainer = document.querySelector('.news--slider--container');
  initial();

  function Resize(e){
    sliderContainer.style.marginLeft = '0px';
    pos = 1;
    flag = true;
    if (window.innerWidth < 500)
      RenderPagination();
  }

  function RenderPagination(){
    document.querySelector('.pagination--container').innerHTML = '';
    for (let i = 0; i < document.querySelector('.news--slider--container').children.length; i++) {
      let img = document.createElement('img');
      img.src = "{{ 'rectangleYellow.svg' | asset_url }}";
      if (i == 0)
        img.className = 'pagination--el activePag';
      else
        img.className = 'pagination--el';
      img.setAttribute('data-id', i);
      img.addEventListener('click', ClickPagination);
      document.querySelector('.pagination--container').append(img);
    }
  }

  function ClickPagination(e){
    if (flag) {
      flag = false;
      sliderContainer.style.marginLeft =  -280 * +e.target.dataset.id + 'px';
      document.querySelector('.activePag').classList.toggle('activePag');
      e.target.classList.toggle('activePag');
      setTimeout(() => flag = true, 1000);
    }
  }

  function initial(){
    window.addEventListener('resize', Resize);
    let news = document.querySelector('.news--slider--container').children.length;
    if (news < 4)
      document.querySelectorAll('.arrow').forEach((el) => el.style.display = 'none');
    if (window.innerWidth < 500)
      RenderPagination();
  }

  function slideRight(e){
    if (flag && pos < 4) {
      flag = false;
      sliderContainer.style.marginLeft =  parseInt(window.getComputedStyle(sliderContainer).marginLeft) - 380 + 'px';
      pos++;
      setTimeout(() => flag = true, 1000);
    }
  }

  function slideLeft(e){
    if (flag && pos !== 1) {
      flag = false;
      sliderContainer.style.marginLeft =  parseInt(window.getComputedStyle(sliderContainer).marginLeft) + 380 + 'px';
      pos--;
      setTimeout(() => flag = true, 1000);
    }
  }
</script>

{% schema %}
{
  "name": "News",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "News"
    }
  ],
  "blocks":[
    {
     "type": "news",
      "name": "News",
      "limit": 6,
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date"
        }
      ]
    }
  ]
}
{% endschema %}
