{{ 'news.css' | asset_url | stylesheet_tag }}

<div class="news--container" id="{{ section.settings.title }}">
  <h1>{{ section.settings.title }}</h1>
  {% render 'sliderArrow', class: 'arrow arrowLeft', onclick: 'slideLeft()' %}
  <div class="news--blocks--container">
    <div class="news--slider--container">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'news' %}
            <div class="news--element--container">
              <div class="news--image" style="background: url({{ block.settings.image | image_url: width: 1000}}) 50% 50%/cover no-repeat"></div>
              <div class="news--content">
                <img src="{{ block.settings.icon | image_url: height: 32}}" alt="Icon">
                <div class="news--title">{{ block.settings.title }}</div>
                <div class="news--footer">
                  <div class="news--date">{{ block.settings.date }}</div>
                  {% render 'arrow', color: '#F9D023' %}
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  <div class="pagination--container">
  </div>
  {% render 'sliderArrow', class: 'arrow arrowRight', onclick: 'slideRight()' %}
</div>

<script>
  let pos = 1;
  let flag = true;
  let sliderContainer = document.querySelector('.news--slider--container');
  initial();

  function Resize(e){
    sliderContainer.style.marginLeft = '0px';
    pos = 1;
    flag = true;
    if (window.innerWidth < 500)
      RenderPagination();
  }

  function RenderPagination(){
    document.querySelector('.pagination--container').innerHTML = '';
    for (let i = 0; i < document.querySelector('.news--slider--container').children.length; i++) {
      let className = 'pagination--el';
      if (i === 0)
        className = 'pagination--el activePag';

      let img = `<svg width="8" height="8" class="${className}" onclick="ClickPagination(this)" data-id="${i}" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" fill="#F9D023"/>
                </svg>`;
      document.querySelector('.pagination--container').innerHTML += img;
    }
  }

  function ClickPagination(e){
    if (flag) {
      flag = false;
      sliderContainer.style.marginLeft =  -280 * +e.dataset.id + 'px';
      document.querySelector('.activePag').classList.toggle('activePag');
      e.classList.toggle('activePag');
      setTimeout(() => flag = true, 1000);
    }
  }

  function initial(){
    window.addEventListener('resize', Resize);
    let news = document.querySelector('.news--slider--container').children.length;
    if (news < 4)
      document.querySelectorAll('.arrow').forEach((el) => el.style.display = 'none');
    if (window.innerWidth < 500)
      RenderPagination();
  }

  function slideRight(e){
    if (flag && pos < 4) {
      flag = false;
      sliderContainer.style.marginLeft =  parseInt(window.getComputedStyle(sliderContainer).marginLeft) - 380 + 'px';
      pos++;
      setTimeout(() => flag = true, 1000);
    }
  }

  function slideLeft(e){
    if (flag && pos !== 1) {
      flag = false;
      sliderContainer.style.marginLeft =  parseInt(window.getComputedStyle(sliderContainer).marginLeft) + 380 + 'px';
      pos--;
      setTimeout(() => flag = true, 1000);
    }
  }
</script>

{% schema %}
{
  "name": "News",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "News"
    }
  ],
  "blocks":[
    {
     "type": "news",
      "name": "News",
      "limit": 6,
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date"
        }
      ]
    }
  ]
}
{% endschema %}
