{%- if predictive_search.performed -%}
  <h1>{{ request.device_type }}</h1>
  <div id="predictive-search-results">
    {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

    {% comment %} Use string splitting to pull the value from content_for_header and apply some string clean up {% endcomment %}
    {%- assign pageUrl = contentForQuerystring
      | split: '"pageurl":"'
      | last
      | split: '"'
      | first
      | split: '.myshopify.com'
      | last
      | replace: '\/', '/'
      | replace: '%20', ' '
      | replace: '\u0026', '&'
    -%}

    {%- assign pageQuerystring = pageUrl | split: '?' | last -%}

    {%- if pageQuerystring contains '18460587851873' -%}
    {%- endif -%}

    {%- if predictive_search.resources.products.size > 0 -%}
      <h3 id="predictive-search-products">Products</h3>
      <ul role="listbox" aria-labelledby="predictive-search-products">
        {%- for product in predictive_search.resources.products -%}
          <li role="option">
            <a href="{{ product.url }}">
              {{- product | image_url: width: 50 | image_tag -}}
              <span>{{ product.title }}</span></a
            >
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
{%- endif -%}
