{{ 'services.css' | asset_url | stylesheet_tag }}

<div class="services--container" id="{{ section.settings.title }}">
  <h1>{{ section.settings.title }}</h1>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'paragraph1' %}
        <div class="paragraph1">{{ block.settings.paragraph1 }}</div>
    {% endcase %}
  {% endfor %}
  <div class="services--blocks--container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'block' %}
          <div class="service--block">
            <div class="title">{{ block.settings.title }}</div>
            {{ block.settings.points }}
            {% render 'arrow', color: 'white' %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'paragraph2' %}
        <div class="paragraph2">{{ block.settings.paragraph2 }}</div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Services",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Services"
    }
  ],
  "blocks":[
    {
      "type": "paragraph1",
      "name": "Paragraph 1",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "paragraph1",
          "label": "Paragraph 1"
        }
      ]
    },
    {
      "type": "block",
      "name": "Services",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "points",
          "label": "Points"
        }
      ]
    },
    {
      "type": "paragraph2",
      "name": "Paragraph 2",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "paragraph2",
          "label": "Paragraph 2"
        }
      ]
    }
  ]
}
{% endschema %}
