{{ 'team.css' | asset_url | stylesheet_tag }}

<div class="team--container" id="{{ section.settings.title }}">
  <h1>{{ section.settings.title }}</h1>
  <div class="cv--container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'cv' %}
          <div class="cv">
            <div class="firstInformation--container">
              <div class="name--and--position">
                <div class="meet"> Meet {{ block.settings.firstName }} {% render 'arrow', color: '#F9D023', class: 'arrow' %}{% render 'arrowCV', class: 'arrowAdaptive' %}</div>
                <h2>{{ block.settings.firstName }}<br/>{{ block.settings.lastName }}</h2>
                <div class="position">{{ block.settings.position }}</div>
              </div>
              <img src="{{ block.settings.image | image_url: width: 512 }}" alt="Human" class="human">
            </div>
            <div class="about">{{ block.settings.about }}</div>
            <h3>Career History</h3>
            <div class="history">
              {{ block.settings.history }}
            </div>
            <h3>Education</h3>
            {{ block.settings.education }}
            <div class="social">
              <a href="{{ block.settings.linked }}">{% render 'linkedin' %}</a>
              <a href="mailto:{{ block.settings.mail }}">{% render 'mail' %}</a>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Team",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Team"
    }
  ],
  "blocks":[
    {
      "name": "CV",
      "type": "cv",
      "limit": 2,
      "settings":[
        {
          "type": "text",
          "id": "firstName",
          "label": "First name"
        },
        {
          "type": "text",
          "id": "lastName",
          "label": "Last name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position"
        },
        {
          "type": "textarea",
          "id": "about",
          "label": "About"
        },
        {
          "type": "richtext",
          "id": "history",
          "label": "Career history"
        },
        {
          "type": "richtext",
          "id": "education",
          "label": "Education"
        },
        {
          "type": "url",
          "id": "linked",
          "label": "Linked in"
        },
        {
          "type": "text",
          "id": "mail",
          "label": "Email"
        }
      ]
    }
  ]
}
{% endschema %}
